@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif');

body{
	background-color: white;
	font-size: 16px;
}

header{ 
	background-color: grey;
	border: 40px;
	padding: 30px; 
	color: black
}

#boat {
	background-image: url(background.jpg);
	background-size: cover;
	width: 100%;
	padding: 100px 0;
}

nav a:link{
	font-family: 'Droid Sans', sans-serif;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: blue;
	color: black;
	float: left;
	padding: 20px;
	padding-bottom: 5px;

}

nav a:visited{
	color: white;
}

nav a:hover{
	border-bottom: 1px solid white;
}

nav a:active{
	color: white;
}

main{
	background-color: blue;
	padding: 50px 0;
}

section{
	padding: 50px 0;
}

h1{
	font-family: 'Droid Sans', sans-serif; 
	color: rgb(0,0,0);
	text-align: center;
	margin: 200px 0 0;
}

h2{ 
	font-size: 8em;
	font-family: 'Droid Sans', sans-serif;
	color: rgb(0,0,0);
	text-align: center;
}

#fashion {
	background-color: red;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;

}


#travel {
	background-color: green;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;

}

.wrapper{
	width: 90%;
	margin: auto;
}

#one {
	background-color: blue;
	border: 1px black solid;
	padding: 20px;
}

#two {
	background-color: yellow;
	border: 1px black solid;
	padding: 20px;
}

#three {
	background-color: green;
	border: 1px black solid;
	padding: 20px;
}

#four {
	background-color: red;
	border: 1px black solid;
	padding: 20px;
}


footer {
	background-color: grey;
	border: 1px black solid;
	padding: 20px:
}

