@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif');

body{


	text-align: center;
	font-family: 'Droid Serif', sans-serif;
	font-size: 20px;
	color: rba(155,200,255);
	line-height: 1.5;
	

}

h1{
	font-family: 'Droid Sans', sans-serif; 
	color: rgb(193,193,193);
}

h2{ 
	font-family: 'Droid Sans', sans-serif;
	color: rgb(193,193,193);
}