@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif');

h1{
	font-family: 'Droid Sans', sans-serif; 
	color: rgb(0,0,0);
}

h2{ 
	font-family: 'Droid Sans', sans-serif;
	color: rgb(0,0,0);
}

#backgroundimg {
	background-image: 100%;
	border-image-width: 100%;
}

#one {
	background-color: blue;
	border: 1px black solid;
	padding: 20px;
}

#two {
	background-color: yellow;
	border: 1px black solid;
	padding: 20px;
}

#three {
	background-color: green;
	border: 1px black solid;
	padding: 20px;
}

#four {
	background-color: red;
	border: 1px black solid;
	padding: 20px;
}

#five {
	background-color: grey;
	border: 1px black solid;
	padding: 20px;
}

#six {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
}
