body{
	text-align: center;
	background: url("images/background.jpg");
	background-size: cover;
	font-family: Helvetica;
}
h1{
	text-transform: uppercase;
	color: rgb(255,80,72);
	font font-size: 900;
	font-weight: bold;
}

#slogan{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1000;
}