* {
	padding: 0;
	margin: 0;
}

header{

}
body{
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #222222;
	line-height: 1.3;
}
section{

}

main{

}
h1{
	text-transform: uppercase;
	color: #222222;
	font font-size: 900;
	font-weight: bold;
}
p{

}
ul{

}
li{

}
img {
	background-image: cover;
}
#slogan{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1000;
}