body{

	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: rba(155,200,255);
	line-height: 1.5;
	background-image: url("background.jpg");

}

h1{
	color: rba(193,193,193);
}